/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.s_left{
	margin-left: 91px;
}

.s_right{
	margin-left: 91px;
}

.s_right .img_block {
  display: inline-block;
  margin-top: 20px;
  margin-left: 0;
 }
/* line 295, ../sass/main.sass */
.s_right .img_block:last-child {
  display: inline-block;
  margin-top: 20px;
  margin-left: 182px;
  float: none;
  
}

.img_b {
	display: inline-block;
  margin-top: 10px;
  margin-left: 0;
}

.s_list {
	display: inline-block;
  padding: 0;
  margin-left: 144px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.s_list ul li p {
    padding-right: 20px;
}

.s_list ul li {
    padding: 8px;
}

.img_b img{
	margin-left: 38px;
}

.img_b span{
	margin-left: 78px;
}

.img_b strong{
	margin-left: 0;
}

.nbs-flexisel-inner strong {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 10%;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}

#popup {
  top: 13%;
  left: 28%;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.topline .navigation{
	display: none;
	
}


.topline .menu-btn{
	display: inline-block;
}

.s_left{
	margin-left: 91px;
}

.s_right{
	margin-left: 91px;
}

.s_right .img_block {
  display: inline-block;
  margin-top: 20px;
  margin-left: 0;
 }
/* line 295, ../sass/main.sass */
.s_right .img_block:last-child {
  display: inline-block;
  margin-top: 20px;
  margin-left: 182px;
  float: none;
  
}

#popup {
  top: 13%;
  left: 17%;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

html, body{
  min-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  }


.topline .navigation{
	display: none;
}

.topline .menu-btn{
	display: inline-block;
}

.s_left{
	margin-left: 48px;
}

.s_left .img_block {
  display: inline-block;
  margin-top: 30px;
}
/* line 259, ../sass/main.sass */
.s_left .img_block:last-child {
  margin-left: 0;
}
/* line 261, ../sass/main.sass */
.s_left .img_block:last-child i {
  padding-top: 5px;
  padding-left: 3px;
}
/* line 264, ../sass/main.sass */
.s_left .img_block .img {
  display: inline-block;
  width: 63px;
  height: 63px;
  background: #b8860b;
  border-radius: 4px;
}
/* line 270, ../sass/main.sass */
.s_left .img_block h3 {
  font-size: 14px;
  font-weight: 600;
  color: #2C2C2C;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 20px;
  padding-left: 17px;
  float: right;
}
/* line 280, ../sass/main.sass */
.s_left .img_block i {
  font-size: 56px;
  color: #ffffff;
  padding-top: 5px;
  padding-left: 11px;
}

.s_right{
	margin-left: 48px;
}


.s_right .img_block {
  display: inline-block;
  margin-top: 20px;
  margin-left: 0;
 }
/* line 295, ../sass/main.sass */
.s_right .img_block:last-child {
  display: inline-block;
  margin-top: 30px;
  margin-left: 0px;
  float: none;
  
}

.s_list {
	display: block;
	width: 275px;
  padding: 0;
  margin-top: 60px;
  margin-left: 20px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.s_list ul li p {
    padding-right: 20px;
}

.s_list ul li {
    padding: 8px;
}

.img_b {
	display: block;
  margin-top: 10px;
  margin-left: 0;
  width: 330px;
}

.img_b img{
	margin-left: 85px;
}

.img_b span{
	margin-left: 132px;
}

.img_b strong{
	margin-left: 55px;
}

.nbs-flexisel-inner strong {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 20%;
  font-size: 21px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.s_plan {
    max-width: 100%;
    margin-left: 3%;
}

#popup {
  width: 332px;
  height: 410px;
  top: 13%;
  left: 4%;
}

/* line 450, ../sass/main.sass */
.form-wrapper {
  margin: 45px 20px;
}
/* line 452, ../sass/main.sass */
.form-wrapper input {
  margin-left: 25px;
}
/* line 460, ../sass/main.sass */
.form-wrapper button {
  margin-left: 25px;
 }

/* line 473, ../sass/main.sass */
.popup_text {
  margin-left: 33px;
}

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

  html, body{
  min-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  }

.topline .navigation{
	display: none;
}

.topline .menu-btn{
	display: inline-block;
}

.s_left{
	margin-left: 48px;
}

.s_left .img_block {
  display: inline-block;
  margin-top: 30px;
}
/* line 259, ../sass/main.sass */
.s_left .img_block:last-child {
  margin-left: 0;
}
/* line 261, ../sass/main.sass */
.s_left .img_block:last-child i {
  padding-top: 5px;
  padding-left: 3px;
}
/* line 264, ../sass/main.sass */
.s_left .img_block .img {
  display: inline-block;
  width: 63px;
  height: 63px;
  background: #b8860b;
  border-radius: 4px;
}
/* line 270, ../sass/main.sass */
.s_left .img_block h3 {
  font-size: 14px;
  font-weight: 600;
  color: #2C2C2C;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 20px;
  padding-left: 17px;
}
/* line 280, ../sass/main.sass */
.s_left .img_block i {
  font-size: 56px;
  color: #ffffff;
  padding-top: 5px;
  padding-left: 11px;
}

.s_right{
	margin-left: 48px;
}


.s_right .img_block {
  display: inline-block;
  margin-top: 20px;
  margin-left: 0;
 }
/* line 295, ../sass/main.sass */
.s_right .img_block:last-child {
  display: inline-block;
  margin-top: 30px;
  margin-left: 0px;
  float: none;
  
}

.img_b {
  display: block;
  margin-top: 10px;
  margin-left: 0;
  width: 300px;
}

.img_b img{
  margin-left: 85px;
}

.img_b span{
  display: inline-block;
  margin-left: 132px;
}

.img_b strong{
  margin-left: 55px;
  display: inline-block;
}

.nbs-flexisel-inner strong {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 20%;
  font-size: 21px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.s_list {
  display: block;
  width: 275px;
  padding: 0;
  margin-top: 60px;
  margin-left: 20px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.s_list ul li p {
    padding-right: 20px;
}

.s_list ul li {
    padding: 8px;
}

.s_plan {
    max-width: 100%;
    margin-left: 3%;
}

#popup {
  width: 320px;
  height: 410px;
  top: 13%;
  left: 0;
}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}